{% load static %}
<div class="shipping text-center" style="
    margin-top: 20px; 
    border-radius: 15px; 
    overflow: hidden; 
    background: #fff; 
    border: 1px solid #f1f5f9;
    width: 100%;
    height: 350px; /* ارتفاع استاندارد بنر سایدبار */
    display: flex;
    align-items: center;
    justify-content: center;
">
    <img src="{% static 'images/home/shipping.jpg' %}" alt="تبلیغات" style="
        width: 100%; 
        height: 100%; 
        object-fit: cover; /* یا contain بسته به سلیقه شما برای پر کردن کادر */
    "   />
</div>